.othersDiv {
	width: 450px;
	height: 800px;
	float:left;
}

.fc-day-header {
	color: silver;
}

.calendarDiv {
	width: 60%;
	float: left;
	opacity: 1;
	position: relative;
}

#calendar h2 {
	color: black;
}

.parentDiv {
	width: 1320px;
	height: 800px;
}

.fc-day-number {
	color: black;
}

.fc-unthemed td.fc-today {
  background: rgb(1,1,1, 0.1);
  border-color: black;
  /* background-color: rgb(255,255,255,0.8); */
  /*border-width: 4px;*/
	border: white;
  border-style: solid;
  border-bottom-style: solid;
}
