.space {
  height: 25px;
}

.emp-profile{
    padding: 7%;
    margin: auto;
    border-radius: 0.5rem;
    background: rgba(61, 61, 61, 0.1);
    color: #495057;
    overflow-y: scroll;
    max-height: 100vh;
}

.emp-profile::-webkit-scrollbar {
    display: none;
}

.profile-img{
    text-align: center;
}
.profile-img img{
    margin-top: -17%;
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h4{
    color: #495057;
    text-transform: capitalize;
}
.profile-head h6{
    color: #495057;
    text-transform: capitalize;
}
.profile-edit-btn{
  background-color: rgb(41, 41, 41, 0.5);
    border: none;
    border-radius: 1.0rem;
    width: 80%;
    padding: 5%;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-left: 10%;
}

.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid silver;
}
.profile-work{
    padding: 14%;
    margin-top: -40%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    text-transform: capitalize;
    color: #495057;
    font-weight: 600;
    font-size: 24px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: darkgrey;
}


.search-bar {
  bottom: 50px;
	position: relative;
    margin: 0 0 10px auto;
    width: 100%;
    right: 3%;
    max-width: 98%;
    height: 48px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    /* overflow: hidden; */
    caret-color: auto;
    color: black;
}

.search-bar input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

#wrapper {
  width:inherit;
}

ul#wrapper {
    list-style: none;
    display: inline-block;
    margin-top: 50px;
	text-align: center;
}

#wrapper li {
  color: #495057;
  /* width:inherit; */
}

#friendoption {
  background: #2e2e2e;
  height: 50px;
  z-index: 10;
  position: relative;
  width:107%;
  margin-left: -7%;
  margin-top: 1px;
}

#friendoption img {
  width: 25px;
  border-radius: 5%;
  margin-right: 10px;
  margin-top: 10px;
}

#friendoption a {
  text-align: left;
  text-transform: capitalize;
  font-size: 18px;
}

#firstgraph {
  width: 70%;
  margin-left: 10%;
}

.followbutton {
  background-color: #4CAF50;
  margin-top: 10px;
  border-radius: 5%;
  margin-right: 10px;
}

.followbutton a{
  color: white;
}

.toprated {
  /* background: rgb(41, 41, 41, 0.2); */
  height: 100px;
  margin-left: 10%;
}

.toprated h5{
  margin-left: 5px;
  margin-top: 30px;
}

.toprated p, span {
  margin-left: 5px;
}

.friendsview {
  color: black;
  /* font-size: 4vw; */
}

.card-body-pf {
  background-color: black;
  color: pink;
}

#friendsrow {
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  float: none;
  max-width: 99%;
}

#friendsrow::-webkit-scrollbar {
    display: none;
}

#friendsrow .col-sm {
  display: inline-block;
  /* float: none; */
  width: 200px;
}

#friendsrow .btn {
  font-size: 0.9vw;
  margin-left: 0;
}

#friendsrow .card-title {
  font-size: 1.2vw;
  margin: 0;
}

#friendsrow .card {
  width: 100%;
}

#friendsrow p{
  font-size: 1vw;
  margin: 1px;
}
.arrows {
  color: white;
  position: absolute;
  right: 1%;
  bottom: 40%;
}

.friendsview img{
  border-radius: 10%;
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 60%;
 margin-bottom: 10px;
}

.cardbackground {
  background-color: #f0f0f0;
  border: none;
  text-align: center;
}


.arrow {
	 position: absolute;
	 top: 50%;
	 width: 3vmin;
	 height: 3vmin;
	 background: transparent;
	 border-top: 0.8vmin solid white;
	 border-right: 0.8vmin solid white;
	 box-shadow: 0 0 0 lightgray;
	 transition: all 300ms ease;
}
 .arrow.left {
	 left: 0;
	 transform: translate3d(0, -50%, 0) rotate(-135deg);
}
 .arrow.right {
	 right: 0;
	 transform: translate3d(0, -50%, 0) rotate(45deg);
}
 .arrow:hover {
	 border-color: rgb(8,35,8, 0.5);
	 box-shadow: 0.5vmin -0.5vmin 0 white;
   /* cursor: pointer; */
}
 .arrow:before {
	 content: '';
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-40%, -60%) rotate(45deg);
	 width: 200%;
	 height: 200%;
}

#friendsrow > div.col-sm > div {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

body > div.container.emp-profile > form > div > div.col-md-4 > div.toprated > p {
  font-size: 14px;
}

#history_personal {
  background-color: white;
  width: 95%;
  color: black;
}

#underimg_col {
  margin-top: -100px;
}


.vl {
  border-left: 6px solid green;
  height: 500px;
}
