.rooster {
  color: white;
  height: 100vh;
  /* margin-top: 4%; */
  margin-left: 5%;
  width: 80%;
  /* float:left; */
  overflow-y: scroll;
  font: 14px/24px 'Open Sans', sans-serif;
  font-size: 100px;
  /* color: silver; */
  /* box-sizing: border-box; */

  text-transform: capitalize;
}


.rooster p.title {
  font: 24px/24px 'Open Sans', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0 5px;
}

.day {
  font: 12px/22px 'Open Sans', sans-serif;
  color: #2f2e7e;
  display: table;
  border-spacing: 1px;
  width: 100%;
}

.day .row {
  font: 12px/22px 'Open Sans', sans-serif;
  color: #2f2e7e;
  margin: 0;
  border-spacing: 1px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(255,255,255,0);
  line-height: 16px;
}

.addschedule {
  cursor: pointer;
}

.row .addschedule {
  font: 14px/24px 'Open Sans', sans-serif;
  color: white;
  line-height: 5px;
  border-spacing: 1px;
  box-sizing: border-box;
  min-width: 120px;
  float: left;
  min-height: 26px;
  font-weight: 200;
  font-size: 14px;
  width: 10%;
  display: inline;
  background: rgb(50,205,50, 0.3);
  border-radius: 10px;
}

.day, #exampleModal p.time {
  font: 12px/22px 'Open Sans', sans-serif;
  border-spacing: 1px;
  font-size: 13px;
  line-height: 5px;
  box-sizing: border-box;
  background: rgb(255,255,255,0.1);
  padding: 5px 8px;
  min-width: 120px;
  float: left;
  margin: 0;
  min-height: 26px;
  font-weight: 600;
  width: 99%;
  border-style: inset;
  border-left: none;
  border-right: none;
  margin-left: 15px;
}

#exampleModal p.time {
  font: 12px/22px 'Open Sans', sans-serif;
  border-spacing: 1px;
  font-size: 13px;
  line-height: 5px;
  box-sizing: border-box;
  background: rgb(255,255,255,0.1);
  padding: 5px 8px;
  min-width: 120px;
  float: left;
  margin: 0;
  min-height: 26px;
  font-weight: 600;
  width: 99%;
  border-style: none;
  border-left: none;
  border-right: none;
  margin-left: 15px;
}

.day p.time, .day p.type {
  color: white;
}


#exampleModal p.type, .day p.type {
  font: 14px/24px 'Open Sans', sans-serif;
  line-height: 5px;
  border-spacing: 1px;
  box-sizing: border-box;
  background: rgb(255,255,255,0);
  padding: 5px 8px;
  min-width: 120px;
  float: left;
  margin: 0;
  margin-left: 20px;
  min-height: 26px;
  font-weight: 600;
  font-size: 15px;
  width: 25%;
  display: inline;
  text-align: center;
}

#exampleModal p.gym, .day p.gym {
  font: 14px/24px 'Open Sans', sans-serif;
  border-spacing: 1px;
  font-size: 13px;
  line-height: 5px;
  box-sizing: border-box;
  background: rgb(255,255,255,0);
  padding: 5px 8px;
  min-width: 100px;
  vertical-align: middle;
  float: left;
  color: silver;
  display: inline-block;
}

#exampleModal p.trainer, .day p.trainer {
  font: 14px/24px 'Open Sans', sans-serif;
  border-spacing: 1px;
  font-size: 13px;
  line-height: 5px;
  box-sizing: border-box;
  background: rgb(255,255,255,0);
  padding: 5px 8px;
  min-width: 120px;
  float: left;
  min-height: 26px;
  color: #918f8f;
  margin: 0;
  width: 13.33%;
}


#exampleModal p.btn-container, .day p.btn-container {
  font: 14px/24px 'Open Sans', sans-serif;
  color: #2f2e7e;
  border-spacing: 1px;
  font-size: 13px;
  line-height: 5px;
  box-sizing: border-box;
  display: table-cell;
  min-width: 120px;
  vertical-align: middle;
  float: left;
  min-height: 26px;
  padding: 0;
  background: none;
  text-transform: uppercase;
  margin: 0;
  margin-left: 20px;
  width: 33.33%;
}

.rooster .row .btn {
  line-height: 5px;
  font-size: 12px;
  display: inline;
  float: left;
}

#exampleModal {
  padding-top: 100px;
}

#exampleModalLabel {
  font-size:16px;
  text-align:left;
  padding: 0;
  margin:0;
  float: left;
  position: absolute;
}

#exampleModal span {
  width: 90%;
  position: absolute;
  line-height: 1px;
}

.modal-header {
  padding: 25px;
}

#exampleModal > div > div > div.modal-body > button {
  display: none;
}

#exampleModal > div > div > div.modal-body > p.btn-cont > a {
  line-height: 5px;
}
