<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<script src="https://kit.fontawesome.com/4f514cb7ab.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
	<script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainpage.css' %}">

	<!-- IMPORTS FOR THE FULL CALENDAR -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'packages/daygrid/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'packages/core/main.css' %}">
	<script src="{% static 'packages/core/main.js' %}"></script>
    <script src="{% static 'packages/daygrid/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'packages/timegrid/main.css' %}">
	<script src="{% static 'packages/timegrid/main.js' %}"></script>


	<title>{% block title %} {% endblock %}</title>
</head>
<div class = "debugging">
  <p id = "csrf">{% csrf_token %}</p>
</div>

<body>

	{% block nav %}{% endblock nav %}

  {% block body %}

  {% endblock %}

	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}" type="8a119432dc1e0d9217ba50d0-text/javascript"></script>

</body>
</html>
