{% extends "base.html" %}

{% block body %}

<div class="limiter">
<div class="container-login100">
<div class="wrap-login100">

<form class="login100-form validate-form">
<span class="login100-form-title">
Login
</span>
<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
<input class="input100" type="text" name="email" placeholder="Username">
</div>
<div class="wrap-input100 validate-input" data-validate="Password is required">
<input class="input100" type="password" name="pass" placeholder="Password">
</div>
<div class="container-login100-form-btn">
<button class="login100-form-btn">
Login
</button>
</div>

</form>
</div>
</div>
</div>


{% endblock %}
