{% extends "base.html" %}

{% block body %}
<div id="wrapper">
        {% load static %}

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <br>
                <li class="sidebar-brand">
                    <a href="#">
                      <img src="{% static 'images/logo_2.png' %}" alt="IMG" width="75px">
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Find groups</a>
                </li>
                <li>
                    <a href="#">Friends</a>
                </li>
                <li>
                    <a href="#">Map</a>
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
								<br><br>
								<!-- hihi ik was even lui sorry -->
								<li>
                    <a href="{% url 'logout' %}" style="font-weight:bold;">LOGOUT</a>
                </li>
            </ul>
        </div>

    </div>

<!-- Main Content Groups -->
<div class="container-login100" style="padding-top: 0px; padding-left: 24vw;">
	<div class="row">


		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
			<div class="ui-block" data-mh="friend-groups-item">

				<!-- Friend Item -->

				<div class="friend-item friend-groups">

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="{% static 'images/sp_logo.jpg' %}" alt="photo" width="90%">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">Science Park</a>
								<div class="country">6 Friends in the Group</div>
							</div>
						</div>


						<div class="control-block-button">
							<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
								<svg class="olymp-happy-faces-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control btn-grey-lighter">
								<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
							</a>

						</div>
					</div>
				</div>

				<!-- ... end Friend Item -->			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
			<div class="ui-block" data-mh="friend-groups-item">

				<!-- Friend Item -->

				<div class="friend-item friend-groups">

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="{% static 'images/home.jpg' %}" alt="photo" width="100%" background="blue">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">Home</a>
								<div class="country">24 Friends in the Group</div>
							</div>
						</div>

						<div class="control-block-button">
							<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
								<svg class="olymp-happy-faces-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control btn-grey-lighter">
								<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
							</a>
						</div>

					</div>
				</div>

				<!-- ... end Friend Item -->			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
			<div class="ui-block" data-mh="friend-groups-item">

				<!-- Friend Item -->

				<div class="friend-item friend-groups">

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="{% static 'images/friends.jpg' %}" alt="photo" width="80%">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">Close Friends</a>
								<div class="country">4 Friends in the Group</div>
							</div>
						</div>

						<div class="control-block-button">
							<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
								<svg class="olymp-happy-faces-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control btn-grey-lighter">
								<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
							</a>

						</div>


					</div>
				</div>

				<!-- ... end Friend Item -->			</div>
		</div>

		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
			<div class="ui-block" data-mh="friend-groups-item">

				<!-- Friend Item -->

				<div class="friend-item friend-groups">

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="{% static 'images/cls.png' %}" alt="photo" width="100%">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">Computational Science</a>
								<div class="country">15 Friends in the Group</div>
							</div>
						</div>


						<div class="control-block-button">
							<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
								<svg class="olymp-happy-faces-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control btn-grey-lighter">
								<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
							</a>

						</div>
					</div>
				</div>

				<!-- ... end Friend Item -->			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
			<div class="ui-block" data-mh="friend-groups-item">

				<!-- Friend Item -->

				<div class="friend-item friend-groups">

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="{% static 'images/vu_logo.png' %}" alt="photo" width="100%">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">VU</a>
								<div class="country">7 Friends in the Group</div>
							</div>
						</div>


						<div class="control-block-button">
							<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
								<svg class="olymp-happy-faces-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control btn-grey-lighter">
								<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
							</a>

						</div>
					</div>
				</div>

				<!-- ... end Friend Item -->			</div>
		</div>

	</div>
</div>


{% endblock %}
