{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block nav %}{% include 'navigation.html' %}{% endblock nav %}

{% block body %}

{% for event in previousevents %}
{{ event }}
{% endfor %}

<div class="mainschedule">
    <div id='calendar'></div>
    <div class="legend">
      <span>
        <div class="col-xs-2 btn-group">
          <br>
          <br>
          <button class="btn btn-success" id="legendblue" disabled type="button"> </button>
          <button class="btn btn-default" disabled type="button">You</button>
        </div>
      </span>
      <span>
        <div class="col-xs-2 btn-group">
          <br>
          <br>
          <button class="btn btn-success" id="legendred" disabled type="button"> </button>
          <button class="btn btn-default" disabled type="button">Following</button>
        </div>
      </span>
  </div>
 </div>

 <div id="mainfeed">

    <!-- <h4>This week</h4> -->
    <!-- <hr> -->
    {% for event in events %}

      <div class="containerfeed darker">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQF54EcNtyGnyA/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=TMMRXfh0RcT04rV6f8N-iJmTuxLo6Li5NU479VPgIVs" alt="Avatar" class="right">
        <h4>{{ event.name }} <span>- {{ event.date }}</span>
          <span class="addbutton">
            <a class="btn btn btn-lg" href="{% url 'add' event.id %}">
            <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </span>
        <span class="deletebutton">
          <a class="btn btn btn-lg" href="{% url 'delete' event.id %}">
          <span class="glyphicon glyphicon-remove"></span>
          </a>
      </span>
      </h4>
        <p>{{ event.teacher }}</p>
<!-- <span class="glyphicon glyphicon-plus-sign"> -->
        {% for participant in event.participants.all %}
          {% if participant.user == request.user %}
              <span class="time-left" style="color:black;">You - {{ event.date }}</span>
              <br><br>
              {% for rating in ratings_user %}
                {% if event == rating.event %}
                <hr>
                <h5  id="yourreview">Your review:</h5>
                <span style="float:left; font-size:16px; margin:0;">{{rating.comment }}</span>
                <span style="float:right; font-size:12px;"> / 5</span>
                <span style="float:right; font-size:17px; font-weight:600;">{{rating.rating }} </span>
                <div class="space">

                </div>
                {% endif %}

              {% endfor %}

              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="well well-sm" id="welwel">
                      <div class="text-left">
                        <!-- <span>
                          <button class="btn btn-info btn">Leave a comment</button>
                        </span> -->
                          <a class="btn btn-success btn-green" onclick="openreview(this)" name="open-review-box">Leave a Review</a>
                          <!-- <div class="commentinput">
                              <input type="text" name="" value="" placeholder="Leave a comment">
                          </div> -->
                      </div>
                      <div class="row" name="post-review-box" style="display:none;">
                        <div class="col-md-12">
                          <form accept-charset="UTF-8" action="{% url 'review' event.id %}" method="post">
                            {% csrf_token %}
                              <input value="ratings-hidden" name="rating" type="hidden">
                              <textarea class="form-control animated" cols="50" value="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>

                              <div class="text-left">
                                <div class="stars starrr" data-rating="0"></div>
                                <!-- <a class="btn btn-danger btn-lg" href="#" name="close-review-box" style="display:none; margin-right: 10px;"> -->
                                <!-- <span class="glyphicon glyphicon-remove"></span>&nbsp Cancel</a> -->
                                <button class="btn btn-success btn-lg" type="submit">Save</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% else %}

                  <!-- <span class="tooltiptext" id="tooltipadd">
                    <button type="button" name="button">
                      <a href="{% url 'add' event.id %}">Add to schedule</a>
                    </button>
                  </span> -->

            <span class="time-left" style="color:black;">{{ participant }}</span>
            <br><br>
          {% endif %}
        {% endfor %}

      </div>
    <br>
    {% endfor %}

 </div>

 <script type="text/javascript">

    const input = document.getElementById("search-input");
    const searchBtn = document.getElementById("search-btn");
    const calendarEl = document.getElementById('calendar');
    function updateTimes(all_events, calendar1) {
      all_start_times = []
      all_start_times_int = []
      all_end_times = []
      all_end_times_int = []
      for(i = 0; i < all_events.length; i++) {

        // save start times
        time_string = all_events[i].start
        res = time_string.split("T")
        all_start_times.push(res[1])
        res2 = res[1].split(":")
        time = Number(res2[0]) + Number(res2[1]) * 0.01
        all_start_times_int.push(time)

        // save end times
        time_string = all_events[i].end
        res = time_string.split("T")
        all_end_times.push(res[1])
        res2 = res[1].split(":")
        time = Number(res2[0]) + Number(res2[1]) * 0.01
        all_end_times_int.push(time)
      }

      // adjust start time based on earliest event
      min = Math.min.apply(Math, all_start_times_int)
      console.log(min % 1)

      // ensure the time always starts at full hour
      if (min % 1 > 0) {
        minTimeSplit = all_start_times[all_start_times_int.indexOf(min)].split(":")
        minTimeNew = minTimeSplit[0] + ":00:00"
        minTime = minTimeNew
      }
      else {
        minTime = all_start_times[all_start_times_int.indexOf(min)]
      }

      // set the start time
      calendar1.setOption('minTime', minTime)

      // adjust end time based on latest event
      max = Math.max.apply(Math, all_end_times_int)

      if (max - min < 8) {
        minTimeSmall = minTime.split(":")[0]
        new_max = Number(minTimeSmall) + 9
        maxTime  = new_max.toString() + ":00:00"
      }
      else {
        maxTime = all_end_times[all_end_times_int.indexOf(max)]
      }
      calendar1.setOption('maxTime', maxTime)
    }

    const expand = () => {
      searchBtn.classList.toggle("close");
      input.classList.toggle("square");
    };

    if(searchBtn) {
      searchBtn.addEventListener("click", expand);
    }

    if(calendarEl) {
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid', 'list', 'bootstrap', 'timeGrid'],
              timeZone: 'UTC',
              minTime: "08:30:00",
              maxTime: "22:30:00",
              editable: true,
              themeSystem: 'bootstrap',
              defaultView : 'timeGridWeek',
              header: {
                left: 'prev, next today',
                center: 'title',
                right: 'dayGridMonth, timeGridWeek, timeGridDay'
              },
              weekNumbers: true,
              eventLimit: true,
              firstDay: 1,
              allDaySlot: false,
              eventColor : 'purple',
              // slotDuration : "00:30:00",
              events:
              [
              {% for i in events_user %}
              {
                  title :   "{{ i.name }}",
                  start :   '{{ i.start }}',
                  end   :   '{{ i.end }}',
                  allDay:   false,
                  displayEventTime: true,
                  displayEventEnd: true,
                  extendedProps: {
                    teacher: "{{ i.teacher }}",
                    location: "Universum",
                    people: "{% for person in i.participants.all %}{{ person }}, {% endfor %}"
                  },
                  color: 'rgb(178,34,34, 0.8)'
              },
              {% endfor %}

              {% for i in event_followers %}
              {
                  title :   "{{ i.name }}",
                  start :   '{{ i.start }}',
                  end   :   '{{ i.end }}',
                  allDay:   false,
                  displayEventTime: true,
                  displayEventEnd: true,
                  description: "test",
                  extendedProps: {
                    teacher: "{{ i.teacher }}",
                    location: "Universum",
                    people: "{% for person in i.participants.all %}{{ person }}, {% endfor %}"
                  },
                  color: 'navy'
              },
              {% endfor %}
            ],
            eventRender: function(info) {
                let tooltip = new Tooltip(info.el, {
                title: '<h4>' + info.event.extendedProps.people + '</h4>',
                placement: 'top',
                trigger: 'hover',
                container: 'body',
                html: true
              });
              }

            });
            all_events = calendar.getOption('events')
            // if(all_events.length > 0) {
            //   updateTimes(all_events, calendar)
            // }
            calendar.render()
    }

    // Disable review buttons for existing reviews
    function disable() {

      var commentsinput = document.querySelectorAll(".commentinput");
      commentsinput.forEach((item, i) => {
        item.style.display = "inline-block"
      });


      elements = document.querySelectorAll("#welwel > div.text-left > a");

      for (i = 0; i < elements.length; ++i) {
        temp = elements[i].parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;

        temp.setAttribute("style", "background-color: darkgrey; border:none;");

        var inputs = temp.querySelectorAll(".commentinput")
        inputs.forEach((item, i) => {
          item.style.display = "none";
        });

        var buttons = temp.querySelectorAll(".addbutton");
        buttons.forEach((item, i) => {
          item.style.display = "none";
        });

        var deletebuttons = temp.querySelectorAll(".deletebutton");
        deletebuttons.forEach((item, i) => {
          item.style.display = "inline";
        });




        if (temp.querySelectorAll("#yourreview")[0]) {
            elements[i].innerHTML = "Edit review"
            elements[i].setAttribute("style", "background-color: grey; border:none;");

        };

      }

    }disable()



 </script>

{% endblock %}
