{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block nav %}{% include 'navigation.html' %}{% endblock nav %}

{% block body %}


<div class="mainschedule">
    <div id='calendar'></div>
 </div>

 <div id="mainfeed">

    <h4>This week</h4>
<hr>
    <!-- Message. Default to the left -->

      <div class="containerfeed darker">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQF54EcNtyGnyA/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=TMMRXfh0RcT04rV6f8N-iJmTuxLo6Li5NU479VPgIVs" alt="Avatar" class="right">
        <!-- <h4>Eline followed:</h4> -->
        <h4>Spinning class</h4>
        <p>Evert van der Zee</p>
        <span class="time-left">Eline - Fr 21 Feb</span>
        <span class="time-right">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </span>
      </div>
    <br>
    <div class="containerfeed darker">
      <img src="https://i.vimeocdn.com/portrait/24338979_640x640" alt="Avatar" class="right">
      <!-- <h4>Eline followed:</h4> -->
      <h4>Boxing class</h4>
      <p>Ruud de Ligte</p>
      <span class="time-left">Annemijn - Sat 22 Feb</span>
      <span class="time-right">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </span>
    </div>
    <br>

    <h4>WAY Back</h4>
    <hr>

    <div class="containerfeed darker">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQF54EcNtyGnyA/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=TMMRXfh0RcT04rV6f8N-iJmTuxLo6Li5NU479VPgIVs" alt="Avatar" class="right">
      <!-- <h4>Eline followed:</h4> -->
      <h4>Spinning class</h4>
      <p>Monique Hoek</p>
      <span class="time-left">Eline - Wed 12 Feb</span>
      <span class="time-right">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </span>
      <br>
        <hr>
        <p class="comments">  Stupid teacher!!! WAAH! </p>

    </div>


    <div class="total-feed">
      <div class="feed-message">
        Eline is wezen spinnen!!!! SUper goed!!
      </div>
      <span class="pull-right">Do 20 feb</span>

      <div class="feed-message">
        Eline je moet ook echt ClubVirtual lessen proberen,
        is ook mega leuk.
        Met een man genaamd Evert van de Zee en die is
        mega fan van zichzelf lol
      </div>
      <span class="pull-right">Wo 19 feb</span>

      <div class="feed-message">
        Dit is een foto van Evert naast zijn koelkast :) <br>
        <img src="https://www.run-waygirls.nl/wp-content/uploads/2015/06/Evert_van_der_Zee_39b.jpg" alt="">
      </div>
      <span class="pull-right">Wo 19 feb</span>

      <div class="feed-message">
        En kijk hier gaat hij er helemaal voor <br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTpeL0edSLU2-UEiL2F1_lj4EZf78gSw-jtREo-zcgO0lJKRTht" alt="">
      </div>
      <span class="pull-right">Wo 19 feb</span>

      <div class="feed-message">
        En kijk hier gaat hij er helemaal voor <br>
        <img src="https://i.ytimg.com/vi/tpRE196Z8YQ/maxresdefault.jpg" alt="">
      </div>
      <span class="pull-right">Wo 19 feb</span>


    </div>
 </div>

 <script type="text/javascript">

    const input = document.getElementById("search-input");
    const searchBtn = document.getElementById("search-btn");
    const calendarEl = document.getElementById('calendar');

    const expand = () => {
      searchBtn.classList.toggle("close");
      input.classList.toggle("square");
    };

    if(searchBtn) {
      searchBtn.addEventListener("click", expand);
    }

    if(calendarEl) {
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid', 'list', 'bootstrap', 'timeGrid'],
                timeZone: 'UTC',
                themeSystem: 'bootstrap',
                header: {
                  left: 'prev, next today',
                  center: 'title',
                  right: 'timeGridWeek, dayGridMonth' // put this if we also want the day: 'dayGridDay'
                },
                weekNumbers: true,
                eventLimit: true,
                firstDay: 1,
                allDaySlot: false,
                eventColor : 'purple',
                events:
                [
                {% for i in events %}
                {
                    title: "{{ i.name }}",
                    start: '{{ i.start }}',
                    end: '{{ i.end }}',

                },
                {% endfor %}
                ]



                // [
                //   // {
                //   //   title  : 'event1',
                //   //   start  : '2020-02-27'
                //   // },
                //   // {
                //   //   title  : 'event2',
                //   //   start  : '2020-02-28',
                //   //   end    : '2020-03-01',
                //   //   displayEventTime : true,
                //   //   displayEventEnd : true
                //   // },
                //   {
                //     title  : 'Spinning',
                //     start  : '2020-02-29T12:30:00',
                //     end    : '2020-02-29T13:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Yoga',
                //     start  : '2020-02-29T10:30:00',
                //     end    : '2020-02-29T11:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //     color : 'green'
                //   },
                //   {
                //     title  : 'BBB',
                //     start  : '2020-03-01T9:00:00',
                //     end    : '2020-02-29T10:00:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Total Body Workout',
                //     start  : '2020-03-01T11:30:00',
                //     end    : '2020-03-01T13:00:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'HIIT',
                //     start  : '2020-02-29T09:00:00',
                //     end    : '2020-02-29T10:00:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Synergy',
                //     start  : '2020-02-28T08:30:00',
                //     end    : '2020-02-28T09:15:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Spinning',
                //     start  : '2020-02-28T11:00:00',
                //     end    : '2020-02-28T12:00:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Pilates',
                //     start  : '2020-02-27T07:00:00',
                //     end    : '2020-02-27T08:00:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Spinning',
                //     start  : '2020-02-27T09:30:00',
                //     end    : '2020-02-27T10:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Zumba',
                //     start  : '2020-02-27T12:30:00',
                //     end    : '2020-02-27T13:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Body Power',
                //     start  : '2020-02-27T17:30:00',
                //     end    : '2020-02-27T18:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Body Power',
                //     start  : '2020-02-26T17:30:00',
                //     end    : '2020-02-26T18:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //     color: 'green'
                //   },
                //   {
                //     title  : 'HIIT',
                //     start  : '2020-02-26T11:30:00',
                //     end    : '2020-02-26T12:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Synergy',
                //     start  : '2020-02-25T16:30:00',
                //     end    : '2020-02-25T17:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Barre Workout',
                //     start  : '2020-02-24T08:30:00',
                //     end    : '2020-02-24T09:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   },
                //   {
                //     title  : 'Pilates',
                //     start  : '2020-02-24T09:30:00',
                //     end    : '2020-02-24T10:30:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //     color: 'green'
                //   },
                //   {
                //     title  : 'Total Body Workout',
                //     start  : '2020-02-24T15:30:00',
                //     end    : '2020-02-24T17:00:00',
                //     allDay : false, // will make the time show
                //     displayEventTime : true,
                //     displayEventEnd : true,
                //     extendedProps: {
                //       teacher: 'Leah Carlin',
                //       location: 'Universum'
                //     },
                //   }
                // ]

              });
              calendar.render();
    }

    // document.addEventListener('DOMContentLoaded', function() {
    //   var calendarEl = document.getElementById('calendar');

    //   var calendar = new FullCalendar.Calendar(calendarEl, {
    //     plugins: [ 'dayGrid', 'timeGrid', 'list', 'bootstrap' ],
    //     timeZone: 'UTC',
    //     themeSystem: 'bootstrap',
    //     header: {
    //       left: 'prev,next today',
    //       center: 'title',
    //       right: 'dayGridMonth,dayGridWeek,dayGridDay,listMonth'
    //     },
    //     weekNumbers: true,
    //     eventLimit: true, // allow "more" link when too many events
    //     // events: 'https://fullcalendar.io/demo-events.json'
    //   });

    //   calendar.render();
    // });

 </script>

{% endblock %}
