{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block nav %}{% include 'navigation.html' %}{% endblock nav %}

{% block body %}

<div class="mainschedule">
    <div id='calendar'></div>
 </div>

 <div id="mainfeed">

    <!-- <h4>This week</h4> -->
    <!-- <hr> -->
    {% for event in events %}
      <div class="containerfeed darker">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQF54EcNtyGnyA/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=TMMRXfh0RcT04rV6f8N-iJmTuxLo6Li5NU479VPgIVs" alt="Avatar" class="right">
        <h4>{{ event.name }}</h4>
        <p>{{ event.teacher }}</p>
        {% for participant in event.participants.all %}
          {% if participant.user == request.user %}
            <span class="time-left" style="color:black;">You - {{ event.date }}</span>
            <br><br>
            {% for rating in ratings_user %}
              {% if event == rating.event %}
              <hr>
              <h5 style="color:grey;" id="yourreview">Your review:</h5>
              <span style="float:left; font-size:16px; margin:0;">{{rating.comment }}</span>
              <span style="float:right; font-size:12px;"> / 5</span>
              <span style="float:right; font-size:17px; font-weight:600;">{{rating.rating }} </span>

              {% endif %}
            {% endfor %}

              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="well well-sm" id="welwel">
                      <div class="text-right">
                        <!-- <button class="btn btn-success btn-green" href="" name="open-review-box" >Leave a review</button> -->
                          <a class="btn btn-success btn-green" onclick="openreview(this)" name="open-review-box">Leave a Review</a>
                      </div>
                      <div class="row" name="post-review-box" style="display:none;">
                        <div class="col-md-12">
                          <form accept-charset="UTF-8" action="{% url 'review' event.id %}" method="post">
                            {% csrf_token %}
                              <input value="ratings-hidden" name="rating" type="hidden">
                              <textarea class="form-control animated" cols="50" value="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>

                              <div class="text-right">
                                <div class="stars starrr" data-rating="0"></div>
                                <a class="btn btn-danger btn-lg" href="#" name="close-review-box" style="display:none; margin-right: 10px;">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp Cancel</a>
                                <button class="btn btn-success btn-lg" type="submit">Save</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% else %}
            <span class="time-left" style="color:grey;">{{ participant }} - {{ event.date }}</span>
          {% endif %}
        {% endfor %}
      </div>
    <br>
    {% endfor %}

 </div>

 <script type="text/javascript">

    const input = document.getElementById("search-input");
    const searchBtn = document.getElementById("search-btn");
    const calendarEl = document.getElementById('calendar');
    function updateTimes(all_events, calendar1) {
      all_start_times = []
      all_start_times_int = []
      all_end_times = []
      all_end_times_int = []
      for(i = 0; i < all_events.length; i++) {

        // save start times
        time_string = all_events[i].start
        res = time_string.split("T")
        all_start_times.push(res[1])
        res2 = res[1].split(":")
        time = Number(res2[0]) + Number(res2[1]) * 0.01
        all_start_times_int.push(time)

        // save end times
        time_string = all_events[i].end
        res = time_string.split("T")
        all_end_times.push(res[1])
        res2 = res[1].split(":")
        time = Number(res2[0]) + Number(res2[1]) * 0.01
        all_end_times_int.push(time)
      }

      // adjust start time based on earliest event
      min = Math.min.apply(Math, all_start_times_int)
      console.log(min % 1)

      // ensure the time always starts at full hour
      if (min % 1 > 0) {
        minTimeSplit = all_start_times[all_start_times_int.indexOf(min)].split(":")
        minTimeNew = minTimeSplit[0] + ":00:00"
        minTime = minTimeNew
      }
      else {
        minTime = all_start_times[all_start_times_int.indexOf(min)]
      }

      // set the start time
      calendar1.setOption('minTime', minTime)

      // adjust end time based on latest event
      max = Math.max.apply(Math, all_end_times_int)

      if (max - min < 8) {
        minTimeSmall = minTime.split(":")[0]
        new_max = Number(minTimeSmall) + 9
        maxTime  = new_max.toString() + ":00:00"
      }
      else {
        maxTime = all_end_times[all_end_times_int.indexOf(max)]
      }
      calendar1.setOption('maxTime', maxTime)
    }

    const expand = () => {
      searchBtn.classList.toggle("close");
      input.classList.toggle("square");
    };

    if(searchBtn) {
      searchBtn.addEventListener("click", expand);
    }

    if(calendarEl) {
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid', 'list', 'bootstrap', 'timeGrid'],
                timeZone: 'UTC',
                minTime: "08:30:00",
                maxTime: "22:30:00",
                editable: true,
                themeSystem: 'bootstrap',
                defaultView : 'timeGridWeek',
                header: {
                  left: 'prev, next today',
                  center: 'title',
                  right: 'dayGridMonth, timeGridWeek, timeGridDay'
                },
                weekNumbers: true,
                eventLimit: true,
                firstDay: 1,
                allDaySlot: false,
                eventColor : 'purple',
                // slotDuration : "00:30:00",
                events:
                [
                {% for i in events_user %}
                {
                    title :   "{{ i.name }}",
                    start :   '{{ i.start }}',
                    end   :   '{{ i.end }}',
                    allDay:   false,
                    displayEventTime: true,
                    displayEventEnd: true,
                    extendedProps: {
                      teacher: "{{ i.teacher }}",
                      location: "Universum",
                      people: "{% for person in i.participants.all %}{{ person }}, {% endfor %}"
                    },
                    color: 'green'
                },
                {% endfor %}

                {% for i in event_followers %}
                {
                    title :   "{{ i.name }}",
                    start :   '{{ i.start }}',
                    end   :   '{{ i.end }}',
                    allDay:   false,
                    displayEventTime: true,
                    displayEventEnd: true,
                    description: "test",
                    extendedProps: {
                      teacher: "{{ i.teacher }}",
                      location: "Universum",
                      people: "{% for person in i.participants.all %}{{ person }}, {% endfor %}"
                    },
                    color: 'blue'
                },
                {% endfor %}
              ],
              eventRender: function(info) {
                  let tooltip = new Tooltip(info.el, {
                  title: '<h4>' + info.event.extendedProps.people + '</h4>',
                  placement: 'top',
                  trigger: 'hover',
                  container: 'body',
                  html: true
                });
                }

              });
              all_events = calendar.getOption('events')
              // if(all_events.length > 0) {
              //   updateTimes(all_events, calendar)
              // }
              calendar.render()
    }



    // Disable review buttons for existing reviews
    function disable() {

      elements = document.querySelectorAll("#welwel > div.text-right > a");

      for (i = 0; i < elements.length; ++i) {
        temp = elements[i].parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;

        if (temp.querySelectorAll("#yourreview")[0]) {
            elements[i].style.display = "none";
        };

      }

    }disable()



 </script>

{% endblock %}
