

                    <p class="title">vrijdag 28 februari</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">10:00 - 10:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lucia Lakatosova</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578722/2020-02-28">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">11:00 - 11:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Muriel Bak</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578847/2020-02-28">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Total body workout</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578972/2020-02-28">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Conditietraining</p>
                                <p class="gym">Gymzaal</p>
                                <p class="trainer">Nathalie Stuwer</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-579138/2020-02-28">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-579306/2020-02-28">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Zumba</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-579561/2020-02-28">Reserveren</a></p>

                            </div>
                        </div>


                    <p class="title">zaterdag 29 februari</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">Bungee super fly</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Roulerend </p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580163/2020-02-29">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Marieke Buijtendijk</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580284/2020-02-29">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Bungee super fly</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Roulerend </p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580327/2020-02-29">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Marieke Buijtendijk</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580405/2020-02-29">Reserveren</a></p>

                            </div>
                        </div>


                    <p class="title">zondag 1 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Noelia Diaz</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580445/2020-03-01">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lieke Brouwer</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580505/2020-03-01">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Karthikeyan Sethura</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580545/2020-03-01">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">11:30 - 12:25</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Karthikeyan Sethura</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580667/2020-03-01">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">11:30 - 12:25</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lieke Brouwer</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-587318/2020-03-01">Reserveren</a></p>

                            </div>
                        </div>

            