

                    <p class="title">dinsdag 10 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">08:30 - 09:25</p>
                                <p class="type">Total body workout</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Nathalie Stuwer</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576337/2020-03-10">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">16:00 - 16:55</p>
                                <p class="type">Boxercise</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Stef van Gelderen</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576379/2020-03-10">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Tatiana Visser</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576421/2020-03-10">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Karthikeyan Sethura</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576463/2020-03-10">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Ruurd Kaper</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576505/2020-03-10">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Steps</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Dylan Watzeels</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576547/2020-03-10">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Dylan Watzeels</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576589/2020-03-10">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">20:00 - 20:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Dylan Watzeels</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576631/2020-03-10">Reserveren</a></p>

                            </div>
                        </div>


                    <p class="title">woensdag 11 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lucia Lakatosova</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576673/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Combat</p>
                                <p class="gym">Gymzaal</p>
                                <p class="trainer">Etmo Smith</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576718/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Merel van Leeuwen</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576759/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Tatiana Visser</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576800/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Zumba</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Juami van Gils</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576841/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Essentrics</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Esther Greveling</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576882/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Fat attack</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Tatiana Visser</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576930/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Total body workout</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Eveline Philipse</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576973/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">20:00 - 20:55</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Eveline Philipse</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-577014/2020-03-11">Reserveren</a></p>

                            </div>
                        </div>


                    <p class="title">donderdag 12 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">08:30 - 09:25</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Lucia Lakatosova</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-577055/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">15:00 - 15:55</p>
                                <p class="type">Boxercise</p>
                                <p class="gym">Dojo</p>
                                <p class="trainer">Stef van Gelderen</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-577534/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Barre workout</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lucia Lakatosova</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-577574/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Nana de Vries - Berg</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578048/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Core power</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Nana de Vries - Berg</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578212/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Ruurd Kaper</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578295/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Lucia Lakatosova</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578336/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Lucia Lakatosova</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578377/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Nathalie Stuwer</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578422/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">20:00 - 20:55</p>
                                <p class="type">Fat attack</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Dieuwertje Vos</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578463/2020-03-12">Reserveren</a></p>

                            </div>
                        </div>


                    <p class="title">vrijdag 13 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">10:00 - 10:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lucia Lakatosova</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578722/2020-03-13">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">11:00 - 11:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lidia Luque Rensel</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578847/2020-03-13">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Total body workout</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-578972/2020-03-13">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Conditietraining</p>
                                <p class="gym">Gymzaal</p>
                                <p class="trainer">Lidia Luque Rensel</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-579138/2020-03-13">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-579306/2020-03-13">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Zumba</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-579561/2020-03-13">Reserveren</a></p>

                            </div>
                        </div>


                    <p class="title">zaterdag 14 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">Bungee super fly</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Roulerend </p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580163/2020-03-14">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Marieke Buijtendijk</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580284/2020-03-14">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Bungee super fly</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Roulerend </p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580327/2020-03-14">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Marieke Buijtendijk</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580405/2020-03-14">Reserveren</a></p>

                            </div>
                        </div>


                    <p class="title">zondag 15 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Noelia Diaz</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580445/2020-03-15">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lieke Brouwer</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580505/2020-03-15">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Karthikeyan Sethura</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580545/2020-03-15">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">11:30 - 12:25</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Karthikeyan Sethura</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-580667/2020-03-15">Reserveren</a></p>

                            </div>
                        </div>

            

                    <p class="title">maandag 16 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">15:30 - 16:25</p>
                                <p class="type">Fat attack</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Nana de Vries - Berg</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-575747/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">16:30 - 17:25</p>
                                <p class="type">Bungee super fly</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Mars Bentum</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-575749/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Danny Lepelblad</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-575904/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Combat</p>
                                <p class="gym">Gymzaal</p>
                                <p class="trainer">Etmo Smith</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-575942/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Etmo Smith</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-575980/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Marco Hoekstra</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576018/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Wivineke van Neerven</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576056/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Conditietraining</p>
                                <p class="gym">Gymzaal</p>
                                <p class="trainer">Kristiaan bij de Vaate</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576094/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Essentrics</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Inouk Boerma</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576170/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Marco Hoekstra</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576132/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">20:00 - 20:55</p>
                                <p class="type">Zumba</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Juami van Gils</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576245/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">21:00 - 21:55</p>
                                <p class="type">Total body workout</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Dieuwertje Vos</p>
                                                    <p class="btn-cont"><a class="btn" target="_blank" href="https://mijn.usc.uva.nl/nl/subscriptions/view/b_-576284/2020-03-16">Reserveren</a></p>

                            </div>
                        </div>


                    <p class="title">dinsdag 17 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">08:30 - 09:25</p>
                                <p class="type">Total body workout</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Nathalie Stuwer</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">16:00 - 16:55</p>
                                <p class="type">Boxercise</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Stef van Gelderen</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Tatiana Visser</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Karthikeyan Sethura</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Ruurd Kaper</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Steps</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Dylan Watzeels</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Dylan Watzeels</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">20:00 - 20:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Dylan Watzeels</p>
                            </div>
                        </div>


                    <p class="title">woensdag 18 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lucia Lakatosova</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Combat</p>
                                <p class="gym">Gymzaal</p>
                                <p class="trainer">Etmo Smith</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Merel van Leeuwen</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Tatiana Visser</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Zumba</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Juami van Gils</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Essentrics</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Roos Schuring</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Fat attack</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Tatiana Visser</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Total body workout</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Eveline Philipse</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">20:00 - 20:55</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Eveline Philipse</p>
                            </div>
                        </div>


                    <p class="title">donderdag 19 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">08:30 - 09:25</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Lucia Lakatosova</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">15:00 - 15:55</p>
                                <p class="type">Boxercise</p>
                                <p class="gym">Dojo</p>
                                <p class="trainer">Stef van Gelderen</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Barre workout</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lucia Lakatosova</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Nana de Vries - Berg</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Core power</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Nana de Vries - Berg</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Ruurd Kaper</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Lucia Lakatosova</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Lucia Lakatosova</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Nathalie Stuwer</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">20:00 - 20:55</p>
                                <p class="type">Fat attack</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Dieuwertje Vos</p>
                            </div>
                        </div>


                    <p class="title">vrijdag 20 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">10:00 - 10:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lucia Lakatosova</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">11:00 - 11:55</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lidia Luque Rensel</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">17:00 - 17:55</p>
                                <p class="type">Total body workout</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Conditietraining</p>
                                <p class="gym">Gymzaal</p>
                                <p class="trainer">Lidia Luque Rensel</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">18:00 - 18:55</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">19:00 - 19:55</p>
                                <p class="type">Zumba</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Bodien Belder</p>
                            </div>
                        </div>


                    <p class="title">zaterdag 21 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">Bungee super fly</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Roulerend </p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">Pilates</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Marieke Buijtendijk</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Bungee super fly</p>
                                <p class="gym">Studio 1</p>
                                <p class="trainer">Roulerend </p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Marieke Buijtendijk</p>
                            </div>
                        </div>


                    <p class="title">zondag 22 maart</p>

                        <div class="day">
                            <div class="row">
                                <p class="time">09:30 - 10:25</p>
                                <p class="type">BBB</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Noelia Diaz</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Body power</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lieke Brouwer</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">10:30 - 11:25</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Arthur Rempel</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">11:30 - 12:25</p>
                                <p class="type">Yoga basic</p>
                                <p class="gym">Studio 3</p>
                                <p class="trainer">Arthur Rempel</p>
                            </div>
                        </div>
                        <div class="day">
                            <div class="row">
                                <p class="time">11:30 - 12:25</p>
                                <p class="type">Spinning</p>
                                <p class="gym">Studio 2</p>
                                <p class="trainer">Lieke Brouwer</p>
                            </div>
                        </div>

            