{% extends "base.html" %}

{% block body %}

{% load static %}
	<div class="limiter">
  	<div class="container-login100">
    	<div class="wrap-login100">
      	<div class="login100-pic js-tilt" data-tilt>
      	<img src="{% static 'images/img-01.png' %}" alt="IMG">
      	</div>

      	<form class="login100-form validate-form" method="POST" action="{% url 'register' %}">
					{% csrf_token %}
					<span class="login100-form-title">
        	Register
        	</span>

        	<div class="wrap-input100 validate-input" data-validate="Choose a unique username">
          	<input autocomplete="off" class="input100" type="text" name="username" placeholder="Username">
          	<span class="focus-input100"></span>
          	<span class="symbol-input100">
          	<i class="fa fa-envelope" aria-hidden="true"></i>
          	</span>
        	</div>
        	<div class="wrap-input100 validate-input" data-validate="First name is required">
          	<input autocomplete="off" class="input100" type="text" name="first_name" placeholder="First name">
          	<span class="focus-input100"></span>
          	<span class="symbol-input100">
          	<i class="fa fa-envelope" aria-hidden="true"></i>
          	</span>
        	</div>
        	<div class="wrap-input100 validate-input" data-validate="Last name is required">
          	<input autocomplete="off" class="input100" type="text" name="last_name" placeholder="Last name">
          	<span class="focus-input100"></span>
          	<span class="symbol-input100">
          	<i class="fa fa-envelope" aria-hidden="true"></i>
          	</span>
        	</div>
        	<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          	<input autocomplete="off" class="input100" type="text" name="email" placeholder="Email">
          	<span class="focus-input100"></span>
          	<span class="symbol-input100">
          	<i class="fa fa-envelope" aria-hidden="true"></i>
          	</span>
        	</div>
        	<div class="wrap-input100 validate-input" data-validate="Password is required">
          	<input autocomplete="off" class="input100" type="password" name="password" placeholder="Password">
          	<span class="focus-input100"></span>
          	<span class="symbol-input100">
          	<i class="fa fa-lock" aria-hidden="true"></i>
          	</span>
        	</div>
          <div class="wrap-input100 validate-input" data-validate="Password is required">
          	<input autocomplete="off" class="input100" type="password" name="password_confirm" placeholder="Confirm password">
          	<span class="focus-input100"></span>
          	<span class="symbol-input100">
          	<i class="fa fa-lock" aria-hidden="true"></i>
          	</span>
        	</div>
        	<div class="container-login100-form-btn">
          	<button class="login100-form-btn">
          	Login
          	</button>
        	</div>
        	<div class="text-center p-t-136">
        	</div>
      	</form>
    	</div>
  	</div>
	</div>

	{% endblock %}
